$big_screen: "(min-width:1600px)";

$laptops: "(max-width: 1350px)";

$big_tablet: "(max-width: 1000px)";

$tablets: "(max-width: 992px)";

$small_tablets: "(max-width: 769px)";

$mobile_device: "(max-width: 650px)";

$smallmobile_device: "(max-width: 375px)";
